.product_card_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: rgb(161, 143, 122);
  max-width: 395px;
  height: 555px;
  padding: 16px;
  margin-bottom: 100px;
  z-index: 1;
}

.product_card_wrapper:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product_card_img {
  margin: 0 auto;
  position: relative;
}

.product_card_img img {
  display: block;
  width: 100%;
}
.out_of_stock_img {
  opacity: 0.5;
}

.out_of_stock_tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  font-family: 'Rozha One', serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}


.product_card_description {
  margin-top: 25px;
  font-family: 'Shippori Antique', sans-serif;
}

.product_card_description h1 {
  height: 40px;
  font-weight: 300;
  font-size: 18px;
}

.product_card_description h2 {
  height: 40px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 28px;
  font-family: 'Rozha One', serif;
  color: rgb(112, 121, 154);
}

.product_button {
  background-color: #ffffff;
  color: rgb(161, 143, 122);
  border: 2px solid rgb(161, 143, 122);
  cursor: pointer;
}
