.home {
  margin-top: 25px;
}

.home_title {
  display: block;
  padding: 5vw;
  font-family: 'Rozha One', serif;
  font-size: 64px;
  color: rgb(112, 121, 154);
}

.home_wrapper {
  display: flex;
  width: 95vw;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
