.product_page {
  margin: 35px 80px 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Shippori Antique", sans-serif;
}

.product_page_card {
  width: 1440px;
  height: 560px;
  display: flex;
  padding: 50px 0px 0px 25px;
  margin-bottom: 72px;
}

.product_page_img_wrapper {
  width: 610px;
  height: 600px;
}

.product_page_img {
  display: block;
  width: 100%;
  overflow: auto;
}

.product_page_info {
  width: 800px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  color: rgb(161, 143, 122);
}

.product_page_title {
  margin-bottom: 20px;
}

.product_page_title p {
  font-size: 42px;
  font-family: "Rozha One", serif;
  color: rgb(112, 121, 154);
}

.product_page_price {
  margin-top: 20px;
}

.product_page_price p {
  font-size: 32px;
  font-weight: 700;
  color: rgb(112, 121, 154);
  font-family: "Rozha One", serif;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.product_page_decscription {
  margin-top: 10px;
  font-size: 18px;
}

.product_page_quantity_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px;
  font-family: 28px;
  color: rgb(161, 143, 122);
}

.product_page_quantity_block button {
  width: 40px;
  height: 40px;
  margin: 0px 40px 0px;
  font-weight: 300;
  font-size: 24px;
  color: rgb(161, 143, 122);
  border: 1px solid rgb(161, 143, 122);
  background: #ffff;
}

.product_page_quantity_block p {
  font-weight: 500;
  font-size: 28px;
  color: rgb(112, 121, 154);
  font-family: "Rozha One", serif;
}

.product_page_button {
    width: 80%;
    background-color:  rgb(112, 121, 154);
    color: #ffff;
    border: 2px solid  rgb(112, 121, 154);
    cursor: pointer;
  }
  
